$primaryColor: #252525;
$secondaryColor: #19a885;
$tertiaryColor: #0f644f;

$primaryFont: "Nunito", sans-serif;
$headerFont: "Playfair Display", serif;

$pColor: #2b2b2b;
$accentHoverColor: #d40b0b;
$accentColor: #ee3232;
$buttonColor: #f0592b;
$buttonHoverColor: #ad3c1a;
