@import "setup";
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $primaryColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  @include headerFont(50px);
  text-align: center;
}

h2 {
  @include headerFont();
}

main {
  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

button {
  background-color: $tertiaryColor;
  border: 1px solid $secondaryColor;
  padding: 5px;
  margin: 5px;
}

.recipeResults {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    // display: inline-block;
    background-color: aliceblue;
    flex-basis: 300px;
    border: 2px solid rgb(66, 34, 247);
    box-shadow: 5px 5px 3px $secondaryColor;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    img {
      width: 100%;
    }
  }
}

footer {
  text-align: center;
}
