@import "setup";
@import "variables";
@import "mixins";

body {
  background: $primaryColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  @include headerFont(50px, purple);
  text-align: center;
}

h2 {
  @include headerFont();
}

main {
  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

footer {
  text-align: center;
}
