@import "setup";
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background: $primaryColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  @include headerFont(50px);
  text-align: center;
}

h2 {
  @include headerFont();
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  input {
    line-height: 2rem;
    padding: 3px;
    width: 100px;
    border: 0;
  }
}

#addIngredient {
  display: flex;
  justify-content: space-between;
  input {
    flex: 1 1 500px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  button {
    flex: 0 1 50px;
    min-width: 50px;
    font-size: 30px;
  }
}

#searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    li {
      border: 1px solid teal;
      color: #fff;
      margin: 5px;
      padding: 5px;
      border-radius: 15px;
      // display: inline-block;
    }
    .deleteButton {
      color: #ee3232;
    }
  }
}

button {
  background-color: $tertiaryColor;
  color: #fff;
  border: 1px solid $secondaryColor;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
}

.recipeResults {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    // display: inline-block;
    background-color: aliceblue;
    flex-basis: 300px;
    border: 2px solid #6d6d6d;
    box-shadow: 5px 5px 3px $secondaryColor;
    border-radius: 10px;
    padding: 20px; 
    margin: 20px;
    img {
      width: 100%;
    }
  }
}

// for use in displaying modal
.modalRoot.show {
  display: inherit;
}

.modalRoot {
  display: none;
  .modal {
    max-width: 800px;
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
}

footer {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px 0;
}

// * {
//   outline: 1px solid red;
// }
