html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background: #252525;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 700;
  color: #ffac4e;
  font-size: 50px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

h2 {
  font-weight: 700;
  color: #ffac4e;
  font-size: 30px;
  text-align: center;
  font-family: "Playfair Display", serif;
  margin: 15px 0 10px;
}

h3 {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
  margin: 15px 0 10px;
}

.container {
  padding: 5vw 0;
}

p {
  color: #2b2b2b;
  line-height: 1.5;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}
form input {
  line-height: 2rem;
  padding: 3px 10px;
  width: 100px;
  border: 0;
}

#addIngredient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
}
#addIngredient input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: "Nunito", sans-serif;
}
#addIngredient button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  min-width: 50px;
  font-size: 30px;
}

#searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#searchContainer button[type=reset] {
  background: transparent;
  padding: 0;
  width: auto;
  height: auto;
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 16px;
  text-transform: none;
}
#searchContainer button[type=reset] .binIcon {
  color: #ee3232;
}
#searchContainer button[type=reset]:hover {
  color: #d40b0b;
}
#searchContainer button[type=reset]:hover .binIcon {
  color: #d40b0b;
}
#searchContainer button[type=submit] {
  font-size: 20px;
  padding: 10px;
}
#searchContainer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  margin: 0;
}
#searchContainer ul li {
  border: 1px dashed #ffffff7c;
  background: #ffffff05;
  color: #fff;
  margin: 5px;
  padding: 6px;
  border-radius: 15px;
}
#searchContainer ul .deleteButton {
  color: #ee3232;
  padding-left: 5px;
}
#searchContainer ul .deleteButton:hover,
#searchContainer ul .deleteButton:focus {
  color: #d40b0b;
  cursor: pointer;
}

button {
  font-family: "Nunito", sans-serif;
  background-color: #19a885;
  color: #fff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  margin: 2px 0;
}

button:hover,
button:focus {
  cursor: pointer;
  background: #148568;
}

.recipeResults {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipeResults h3 {
  text-transform: capitalize;
}
.recipeResults li {
  background-color: aliceblue;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  border: 2px solid #6d6d6d;
  -webkit-box-shadow: 5px 5px 3px #5f5f5f;
          box-shadow: 5px 5px 3px #5f5f5f;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.recipeResults li img {
  width: 100%;
}

.modalRoot.show {
  display: inherit;
}

.modalRoot {
  display: none;
}
.modalRoot .modal {
  max-width: 800px;
  width: 90%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  margin: 20px auto;
  left: 50%;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 3px black;
          box-shadow: 5px 5px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #fff;
}
.modalRoot .modal h3, .modalRoot .modal h3 + p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.modalRoot .modal ol, .modalRoot .modal ul {
  line-height: 1.5;
  color: #2b2b2b;
  list-style-position: inside;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.modalRoot .modal a {
  color: #ea593e;
  text-decoration: none;
}
.modalRoot .modal a:hover,
.modalRoot .modal a:focus {
  text-decoration: underline;
}
.modalRoot .modal button {
  background: #f0592b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.modalRoot .modal button:hover,
.modalRoot .modal button:focus {
  background: #d65027;
}
.modalRoot img {
  height: 300px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.recipeLiContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.openModal {
  background: #f0592b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 10px;
}

.openModal:hover,
.openModal:focus {
  background: #d65027;
}

footer {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px 0;
}
footer a {
  color: #ea593e;
  text-decoration: none;
}
footer p {
  color: #fff;
}

@media print {
  .modalRoot .modal {
    width: 100%;
    position: static;
    -webkit-transform: none;
            transform: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    background: #fff;
  }
  .modalRoot img {
    height: 300px;
  }

  .noPrint {
    display: none;
  }
}